<module>

  <!-- Module informations, used mostly for display in the project building tools -->
  <name>BoomerEngine FBX Support</name>
  <description>Support for importing FBX meshes/animations/etc</description>
  <author>Tomasz "Rex Dex" Jonarski</author>
  <license>MIT</license>

   <!-- Third party packages we need to download to compile this module -->
   <thirdparty name="lib_fbx_20_06" path="https://drive.google.com/uc?export=download&amp;id=1KCMy-GTxvkADC_8a1T4WPXSX-CKVDlBl" />

</module>
