/***
* Boomer Engine v4 2015-2017
* Written by Tomasz "Rex Dex" Jonarski
***/

EditBox {
    padding: 5em 2em 5em 3em;
    maring: 2em 2em 2em 2em;

    min-width: 50em;

    border-color: $client-border;
    border-width: 1em;
    border-radius: 3em;

    selection: color.grayscale(color.scale($active-color, 80%));

    &:focused {
        selection: $active-color;
    }

    &.noborder {
        border-width: 0em;
        padding: 0em 0em 0em 0em;
        maring: 0em 0em 0em 0em;
        height: $text-font-size; // make the edit box the SAME SIZE as a normal text line - this allows for no visual difference between line of text and edit box
    }

    &:invalid {
        background: #E16552;
    }

    &:disabled {
        opacity: 50%;
        background: #7777;
        selection: color.grayscale(color.scale($active-color, 50%));
    }
}

Dragger {
    margin: 2em 1em 2em 1em;
    horizontal-align: right;
    vertical-align: middle;
    color: color.scale($text-color, 80%);

    font-family: $icon-font;
    font-size: mul($icon-font-size, 1.2);
    content: "&#f142;";

    &:hover {
        color: $active-color;
    }
}

