/***
* Boomer Engine v4 2015-2017
* Written by Tomasz "Rex Dex" Jonarski
***/

ListView
{
	background: solid(#1E1E1E);

	> *#Item
	{
		padding: 2em 2em 2em 2em;
		
		&:hover
		{
			background: linear(0, #333337, #00000000);
		}

		&.selected
		{
			background: solid(#007ACC);
		}

		&.current
		{
			overlay: box(100%, 100%, 0em, 10em, #00000000, #007ACC);
		}

//		background: box(100%, 100%, 0em, 10em, #BBBBBB, #007ACC);
	}
}

ListViewItem
{
	padding: 2em 2em 2em 2em;
		
	&:hover
	{
		background: linear(0, #333337, #00000000);
	}

	&.selected
	{
		background: solid(#007ACC);
	}

	&.current
	{
		overlay: box(100%, 100%, 0em, 10em, #00000000, #007ACC);
	}

//		background: box(100%, 100%, 0em, 10em, #BBBBBB, #007ACC);
}

ListViewCategory
{
	background: linear(180, #60606000, #60606080);
	margin: 10em 5em 10em 5em;	
//	border-bottom: 1em;
//	border-color: #60606080;

	TextLabel#Caption
	{
            font-size: 18em;
	    horizontal-align: left;
	    vertical-align: middle;
	}

	Button
	{
		margin: 4em 2em 4em 2em;
		horizontal-align: left;
		vertical-align: middle;

		TextLabel#ExpandIcon
		{
		    color: #FFFFFF;
		    font-family: $icon-font;
		    font-size: 18em;
		    content: "&#f0da;";
		}
	}

	&.expanded > Button > TextLabel#ExpandIcon
	{
            content: "&#f0d7;";
	}
}
