/***
* Boomer Engine v4 2015-2017
* Written by Tomasz "Rex Dex" Jonarski
***/

Splitter {
    &.vertical {
        > SplitterSash {
	        background: $scroll-button-color;
            width: 6em;

	        &:hover, &:dragged {
	        	background: color.scale($scroll-thumb-color, 110%);
            }
        }
    }

    &.horizontal {
        > SplitterSash {
    	    background: image("icons/finegrid.png", wrap, #303030);
            height: 6em;

            &:hover, &:dragged {
              background: color.scale($scroll-thumb-color, 110%);
            }
        }
    }
}

FourWaySplitterSash {
  background: $scroll-button-color;

  &.vertical {
    width: 6em;
  }

  &.horizontal {
    height: 6em;
  }

  &:hover, &:dragged {
    background: color.scale($scroll-thumb-color, 110%);
  }
}
