<module>

  <!-- Module informations, used mostly for display in the project building tools -->
  <name>BoomerEngine Editor</name>
  <description>Editor project for editing BoomerEngine scene and assets</description>
  <author>Tomasz "Rex Dex" Jonarski</author>
  <license>LGPL v3</license>

   <!-- Third party packages we need to download to compile this module -->
   <!--thirdparty name="lib_editor_20_09" path="https://drive.google.com/uc?export=download&amp;id=1FbkEqEDWKHhNR9Y3uZTXLgsog9CIdVdd" /-->
   <!--thirdparty name="lib_crunch_20_06" path="https://drive.google.com/uc?export=download&amp;id=10nfJWwIOf7Sf8-WtE1n0H6N-bgGTzG1h" /-->
   <!--thirdparty name="lib_freeimage_20_06" path="https://drive.google.com/uc?export=download&amp;id=1VgAtrRAC5FYx2BDunObJHx1a_I0GBSk_" /-->
   <thirdparty name="lib_crunch_20_06" path="https://www.mediafire.com/file/snd1uak2tdgfwxw/lib_crunch_20_06.zip/file" />
   <thirdparty name="lib_freeimage_20_06" path="http://www.mediafire.com/file/ceauafstbw735v9/lib_freeimage_20_06.zip/file" />

</module>
