<module>

  <!-- Module informations, used mostly for display in the project building tools -->
  <name>BoomerEngine PhysX support</name>
  <description>Support for PhysX</description>
  <author>Tomasz "Rex Dex" Jonarski</author>
  <license>LGPL v3</license>

  <!--thirdparty>http://www.mediafire.com/file/whtp6nieeol00y9/thirdparty_physx_20_06.zip/file</thirdparty-->
  <!--thirdparty name="lib_physx_20_06" path="https://drive.google.com/uc?export=download&amp;id=13ofoYOUzXyx8wpV1RANi-DPMIzBYqP48" /-->
  <thirdparty name="lib_physx_20_06" path="https://www.mediafire.com/file/suos09dl7ja74t4/lib_physx_20_06.zip/file" />

</module>
