/***
* Boomer Engine v4 2015-2017
* Written by Tomasz "Rex Dex" Jonarski
***/

BreadcrumbBar
{
    BreadcrumbContainer
    {
        height: 28em;

        TextLabel#BreadcrumbNavigationIcon
        {
            margin: 5em 0em 5em 0em;
            color: #888888;
            font-family: $icon-font;
            font-size: 12em;
            content: "&#f0a9;";
        }

        > Button#content
        {
            padding: 4em 3em 4em 3em;

            &:hover 
            {
                background: solid(#1C97EA);
            }
        } 
    }
}
