/***
* Boomer Engine v4 2015-2017
* Written by Tomasz "Rex Dex" Jonarski
***/

Button {
    inner-horizontal-align: center;

    > * {
        vertical-align: middle;
    }
}

$button-hover-color: color.mix($button-background, $hover-color, $hover-scale);
$button-gradient-dim: 80%;

PushButton {
    background: linear(90, color.scale($button-background, $button-gradient-dim), $button-background);
    border-color: $button-border;
    border-width: 1em;
    border-radius: 3em;
    padding: 6em 4em 6em 4em;
    margin: 4em 4em 4em 4em;
    min-height: 24em;
    min-width: 90em;

    TextLabel {
        color: $button-text;
        margin: 2em 0em 2em 0em;
    }

    &:pressed {
        > * {
            relative-x: 1em;
            relative-y: 1em;
        }
    }

    &:focused {
        border-color: $active-color;
        border-width: $active-border-size;
    }

    &:hover {
        background: linear(90, color.scale($button-hover-color, $button-gradient-dim), $button-hover-color);
    }

    &.toggled {
        background: linear(90, $button-toggle, color.scale($button-toggle, $button-gradient-dim));

        &:hover {
            background: linear(90, $button-toggle, color.scale($button-toggle, $button-gradient-dim));
        }

        &:focused {
            border-color: $button-toggle;
            border-width: $active-border-size;
        }

        TextLabel {
            font-weight: bold;
            color: color.invert($text-color);
        }
    }
}

PushButton.green {
    background: linear(90, color.scale($action-green-color, 60%), color.scale($action-green-color, 76%));
    border-color: $action-green-color;

    TextLabel {
        font-weight: bold;
        color: $text-color;
    }

    &:hover {
        background: linear(90, color.scale($action-green-color, 80%), color.scale($action-green-color, 95%));
    }
}

PushButton.red {
    background: linear(90, color.scale($action-red-color, 60%), color.scale($action-red-color, 76%));
    border-color: $action-red-color;

    TextLabel {
        font-weight: bold;
        color: $text-color;
    }

    &:hover {
        background: linear(90, color.scale($action-red-color, 80%), color.scale($action-red-color, 95%));
    }
}

PushButton.blue {
    background: linear(90, color.scale($action-blue-color, 60%), color.scale($action-blue-color, 76%));
    border-color: $action-blue-color;

    TextLabel {
        font-weight: bold;
        color: $text-color;
    }

    &:hover {
        background: linear(90, color.scale($action-blue-color, 80%), color.scale($action-blue-color, 95%));
    }
}

Button {
    &.disabled {
        background: linear(90, color.scale(color.scale($button-background, 80%), $disable-scale), color.scale($button-background, $disable-scale));

        TextLabel {
            color: color.scale($text-color, 70%);
        }

        border-color: color.scale($button-background, $disable-scale);
    }
}
