/***
* Boomer Engine v4 2015-2017
* Written by Tomasz "Rex Dex" Jonarski
***/

CheckBox {
    width: 16em;
    height: 16em;
    margin: 1em 2em 3em 2em;
    horizontal-align: left;
    vertical-align: middle;
    background: $client-background;

    &.hover {
        background: color.mix($client-background, $hover-color, $hover-scale);
    }

    TextLabel {
        font-family: $icon-font;
        font-size: $icon-font-size;
    }

    &.checked {
        TextLabel {
            content: "&#f00c;";
        }
    }

    &.undefined {
        TextLabel {
            content: "&#f128;";
        }
    }
}
