/***
* Boomer Engine v4 2015-2017
* Written by Tomasz "Rex Dex" Jonarski
***/

//--

NotificationFrame {
    background: #888D;
    border-width: 1em;
    border-color: #AAAF;
    border-radius: 20em;

    padding: 20em 20em 20em 20em;
    margin: 5em 5em 20em 5em;

    > * {
      font-size: mul($text-font-size, 1.6);
      vertical-align: middle;
      horizontal-align: center;
    }

    &.error {
      background: #B77D;
    }

    &.warning {
      background: #BB7D;
    }
}