/***
* Boomer Engine v4 2015-2017
* Written by Tomasz "Rex Dex" Jonarski
***/

Scintilla
{
    //proportion: 100%; // TODO: remove
    padding: 1em 1em 1em 1em;
    background: $code-background;
    font-family: $code-font;
}
