/***
* Boomer Engine v4 2015-2017
* Written by Tomasz "Rex Dex" Jonarski
***/

Tooltip {
	TextLabel {
		color: $text-color;
        font-weight: bold;
	}

    background: $scroll-background;
    border-color: $client-border;
    border-width: 1em;
    padding: 5em 5em 5em 5em;
    min-height: 10em;
}

