/***
* Boomer Engine v4 2015-2017
* Written by Tomasz "Rex Dex" Jonarski
***/

Window#DragPreview
{
    border-width: 1em;
    border-color: $window-border;
    opacity: 50%; 
}

*#DockOverlay
{
    background: color.transparent($active-color, 40%);
    border-width: 4em;
    border-color: $window-border;
}

DockWindow
{
    initial-width: 800em;
    initial-height: 600em;
}

DockPanel
{
    //background: $client-background;
}

