/***
* Boomer Engine v4 2015-2017
* Written by Tomasz "Rex Dex" Jonarski
***/

$track-bar-color: color.mix($client-background, $text-color, 70%);
$track-bar-active_color: color.mix($track-bar-color, $active-color, 80%);

TrackBar {
	background: $client-background;
	min-height: add($text-font-size, 4em);
	min-width: 100em;

	> TextLabel {
		font-size: $text-font-size;
		font-weight: bold;
		//color: $text-color;
		color: color.invert($track-bar-color);
		margin: 5em 2em 5em 0em;
		vertical-align: middle;
		horizontal-align: left;
		min-height: add($text-font-size, 2em);
	}

	> TrackBarArea {
		background: image("images/diagonals_bleak.png", wrap, $track-bar-color);
		//background: #F00;
	}

	> TextEditor {
    	margin: 4em 2em;
		background: #0000;
	}

	&.focused {
		> TrackBarArea {
			background: image("images/diagonals_bleak.png", wrap, $track-bar-active_color);
		}
	}
}

