/***
* Boomer Engine v4 2015-2017
* Written by Tomasz "Rex Dex" Jonarski
***/

CanvasArea {
	//margin: 10em 10em 10em 10em;
	//border-width: 2em;
	//border-color: solid(#007ACC);
	background: image("images/grid_rect_small.png", wrap, $window-background);
}

HorizontalRuler {
	background: color.scale($window-background, 120%);
	color: color.scale($window-background, 30%);
	horizontal-align: expand;
	vertical-align: top;
	min-height: 30em;
}

VerticalRuler {
	background: color.scale($window-background, 120%);
	color: color.scale($window-background, 30%);
	vertical-align: expand;
	horizontal-align: left;
	min-width: 30em;
}

RulerCorner {
	min-height: 30em;
	min-width: 30em;
}

RenderingPanel
{
	//margin: 10em 10em 10em 10em;
	//border-width: 2em;
	//border-color: solid(#007ACC);
	//background: image("icons/gridsmall.png", wrap, #222222);
}

RenderingPanel:focused
{
	overlay: box(100%,100%,0em,6em,#88888800,#88888888);
}

